<p>Logg inn med din e-postadresse og hemmelige nøkkel:</p>

<form class="form-signin" ng-submit="login(email, secret)">
    <input type="email" class="form-control" placeholder="E-postadresse" required autofocus ng-model="email">
    <input type="password" class="form-control" required placeholder="Hemmelig nøkkel" ng-model="secret">
    <button class="btn btn-lg btn-primary btn-block">Logg inn</button>
</form>
<div class="alert alert-danger" role="alert" ng-if="error != null"><span class="error">{{error}}</span></div>
