<h2 class="form-signin-heading">Registrering</h2>

<p>
    Registrer deg som bruker av Fotballvarsel. Du får tilsendt en e-post med en link. Linken inneholder nøkkelen til å endre dine abonnementer og er personlig.
    Den kan brukes flere ganger, så ta vare på e-posten.
</p>
<p>
    Hvis du har mistet e-posten med linken, registrerer du deg bare på nytt med samme e-postadresse. Du får da tilsendt
    link med ny nøkkel, og kan fortsette å redigere dine abonnementer. Den gamle nøkkelen vil ikke virke lenger.
</p>

<form class="form-signin" ng-submit="register(email)">
<input type="email" class="form-control" placeholder="E-postadresse" required autofocus ng-model="email">
<button type="submit" class="btn btn-lg btn-primary btn-block">Registrer</button>
</form>

<div class="alert alert-success" role="alert" ng-if="success != null">{{success}}</div>
<div class="alert alert-danger" role="alert" ng-if="error != null">{{error}}</div>
