<p ng-if="subscriber.email != null">Velkommen, <strong>{{subscriber.email}}</strong>! <a href="#/subscriber">Se dine varsler.</a></p>
<p>
    Dette er en applikasjon for å varsle når det legges ut nyheter på
    <a href="http://skeid.no" rel="external" target="_blank">Skeid sine nettsider <span class="fa fa-external-link"></span></a>.
    Behovet skyldes at publiseringsløsningen 123klubb fra KX Products
    ikke har støtte for varsling ved oppdateringer.
</p>
<p>Du kan abonnere på varsler for følgende Skeid-lag:</p>
<ul>
    <li ng-repeat="team in teams"> {{team.name}}
        (<a href="{{team.url}}" rel="external" target="_blank">gå til side <span class="fa fa-external-link"></span></a>)
    </li>
</ul>

<h2>Bruksanvisning</h2>
<ul>
    <li>Du må <a href="#/register">registrere deg som bruker</a> ved å oppgi e-postadressen din. Du får da tilsendt en e-post med en link.</li>
    <li>Linken inneholder nøkkelen til å endre dine abonnementer og er personlig. Den kan brukes flere ganger,
        så ta vare på e-posten.</li>
    <li>Når du følger linken kommer du til en side hvor du kan velge hvilke Skeid-lag du ønsker å abonnere på.</li>
    <li>Huk av hvilke Skeid-lag du ønsker å abonnere på. Hvis du ønsker å avslutte et abonnement,
        huker du vekk laget.</li>
</ul>
<p>
    Tjenesten sjekker jevnlig for endringer, og sender deg e-post når en lagside du abonnerer på
    får en ny artikkel. Det kan gå noen timer fra nyheten legges ut til du får varsel.
</p>
<p>
    Hvis du mister e-posten med linken, registrerer du deg bare på nytt med samme e-postadresse. Du får da tilsendt
    link med ny nøkkel, og kan fortsette å redigere dine abonnementer. Den gamle nøkkelen vil ikke virke lenger.
</p>

<h2>Ansvarsfraskrivelse</h2>
<p>
    Tjenesten er utviklet av Frode Rystad på privat initiativ.
    Tjenesten er på ingen måte assosiert med Rystads arbeidsgiver, Skeid eller KX Products as.
    Spørsmål om tjenesten rettes til
    <a href="mailto:fotballvarsel@rystad.no">Frode Rystad <span class="fa fa-envelope"></span></a> direkte.
</p>
<p>
    Tjenesten tilbys gratis og uten garantier.
    Utvikleren er uten erstatningsansvar hvis feil i tjenesten skulle medføre problemer for abonnenten.
</p>
