<html ng-app="app">
<head>
    <title>Fotballvarsel</title>
</head>
<body>

<ng-view></ng-view>

<!-- Template -->
<script type="text/ng-template" id="/login.html">
    E-postadresse: <input type="email" ng-model="email.email">
    <button ng-click="login()">Logg inn</button>
</script>

<script type="text/ng-template" id="/subscriber.html">
    E-mail: {{subscriber.email}}
    <ul>
        <li ng-repeat="team in teams">
            {{team.name}}
        </li>
    </ul>
    <a href="#/">Back...</a>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
